@page "/EdgeDetection"
@rendermode InteractiveServer

@using OpenCvSharp;
@inject IJSRuntime jsRuntime;
@inject HttpClient httpClient;

<div>
    <canvas @ref="srcCanvas" width="580" height="870" style="border:1px solid gray;">
    </canvas>
    <canvas @ref="dstCanvas" width="580" height="870" style="border:1px solid gray;">
    </canvas>
</div>

<button @onclick="@(async () => await Gaussian())">Grayscale</button>

@code {
    private ElementReference srcCanvas;
    private ElementReference dstCanvas;
    private CanvasClient? srcCanvasClient;
    private CanvasClient? dstCanvasClient;
    private Mat? srcMat;
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (!firstRender)
            return;

        await base.OnAfterRenderAsync(firstRender);

        var imageBytes = await httpClient.GetByteArrayAsync("images/karina.jpg");
        srcMat ??= Mat.FromImageData(imageBytes);

        srcCanvasClient ??= new CanvasClient(jsRuntime, srcCanvas);
        dstCanvasClient ??= new CanvasClient(jsRuntime, dstCanvas);

        await srcCanvasClient.DrawMatAsync(srcMat);
    }

    //1.가우시안 블러 적용
    private async Task Gaussian()
    {
        if (srcMat is null)
            throw new InvalidOperationException($"{nameof(srcMat)} is null");
        if (dstCanvasClient is null)
            throw new InvalidOperationException($"{nameof(dstCanvasClient)} is null");

        using var grayMat = new Mat();
        using var gausMat = new Mat();
        using var dstMat_x = new Mat();
        using var dstMat_y = new Mat();
        using var dstMat = new Mat();

        Cv2.CvtColor(srcMat, grayMat, ColorConversionCodes.BGR2GRAY);        
        Cv2.AdaptiveThreshold(grayMat, gausMat, 255, AdaptiveThresholdTypes.GaussianC, ThresholdTypes.Binary, 11, 2); // 11, 2
        Cv2.Sobel(gausMat, dstMat_x, MatType.CV_32F, 1, 0); // Sobel edge detection x
        Cv2.Sobel(gausMat, dstMat_y, MatType.CV_32F, 0, 1); // Sobel edge detection y

        Cv2.Magnitude(dstMat_x, dstMat_y, dstMat); // Combine the two gradients
        Cv2.Normalize(dstMat, dstMat, 0, 255, NormTypes.MinMax); // Normalize the values to [0, 255]

        dstMat.ConvertTo(dstMat, MatType.CV_8UC1); // Convert to CV_8UC1
        await dstCanvasClient.DrawMatAsync(dstMat);
    }
}
